body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

#colorBox {
background-color: yellow;
width: 15em;
height: 15em;

}
